@model Sistema_Cine.Models.tbEntradas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2 style="text-align:center">Detalle de Entradas</h2>
        <div class="d-flex justify-content-end">
            @*<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "Edit", new { id = Model.Sucu_Id })'">
                    Editar
                </button>*@
            @Html.ActionLink("Edit", "Edit", new { id = Model.Entra_Id }, new { @class = "btn btn-warning" })
            ||
            <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">
                Regresar
            </button>
        </div>

    </div>
    <div class="card-body">
        <div class="container">
            <!-- Apertura del contenedor -->
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Entra_Cantidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Entra_Cantidad)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tbSalas.Sala_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbSalas.Sala_Descripcion)
                        </dd>

                    </dl>
                </div>
            </div>
            </div>
        </div>
    </div>
               <hr />
                <table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Usuario</th>
                            <th>Fecha</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Creador</th>
                            <td>@Html.DisplayFor(model => model.Entra_Usuario_Creacion)</td>
                            <td> @Html.DisplayFor(model => model.Entra_Fecha_Creacion)</td>

                        </tr>
                        <tr>
                            <th scope="row">Modificar</th>
                            <td>  @Html.DisplayFor(model => model.Entra_Usuario_Modificacion)</td>
                            <td>  @Html.DisplayFor(model => model.Entra_Fecha_Modificacion)</td>
                        </tr>
                    </tbody>
                </table>



