@model Sistema_Cine.Models.tbSalas


@using (Html.BeginForm("Create", "tbSalas"))
{
    @Html.AntiForgeryToken()
<div class="card-body">
    <div class="container">


        <h2 style="text-align:center">Crear Salas</h2><br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Sala_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Sala_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sala_Descripcion, "", new { @class = "text-danger" })
            </div><br />

            @Html.LabelFor(model => model.Buta_Id, "Buta_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6">
                @Html.DropDownList("Buta_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Buta_Id, "", new { @class = "text-danger" })
            </div>
        </div><br />


        <div class="form-group" style="text-align:right">
            <div class="col-md-offset-2 col-md-20">
                <input type="submit" style="text-align:center" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
