@model Sistema_Cine.Models.tbMunicipio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card-body" style="background-color: #f2f2f2;">
        <h4>tbMunicipio</h4>
        <hr />
        <div class="row g-2">
            <div class="p-3">
                @Html.DisplayNameFor(model => model.Muni_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayFor(model => model.Muni_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayNameFor(model => model.tbDepartamentos.Depa_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayFor(model => model.tbDepartamentos.Depa_Descripcion)
            </div>

        </div>
    </div>
</div>
<hr />
<p style="background-color: #f2f2f2;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Muni_Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Tabla Detalle</h3>
<br />
<table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Usuario</th>
            <th>Fecha</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Creador</th>
            <td>@Html.DisplayFor(model => model.Muni_Usuario_Creacion)</td>
            <td> @Html.DisplayFor(model => model.Muni_Fecha_Creacion)</td>

        </tr>
        <tr>
            <th scope="row">Modificar</th>
            <td>@Html.DisplayFor(model => model.Muni_Usuario_Modificacion)</td>
            <td>@Html.DisplayFor(model => model.Muni_Fecha_Modificacion)</td>
        </tr>
    </tbody>
</table>



