@model IEnumerable<Sistema_Cine.Models.tbMunicipio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table   class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Muni_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muni_Usuario_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muni_Fecha_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muni_Usuario_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muni_Fecha_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbDepartamentos.Depa_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Muni_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muni_Usuario_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muni_Fecha_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muni_Usuario_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muni_Fecha_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbDepartamentos.Depa_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Muni_Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Muni_Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Muni_Codigo })
        </td>
    </tr>
}

</table>
