@model IEnumerable<Sistema_Cine.Models.tbRoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card center-block">
    <div class="card-header">
        <h3>Roles</h3>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <div class="table-responsive">
            <table class="table table-dark table-striped dataTables-example ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Creacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Fecha_Creacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Modifica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Fecha_Modifica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Estado)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Fecha_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Estado)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Role_Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Role_Id }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Role_Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


