@model Sistema_Cine.Models.tbClientes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card-body" style="background-color: #f2f2f2;">
        <h4>tbClientes</h4>
        <hr />
        <dl class="row g-2">
            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Nombre)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Nombre)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Apellido)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Apellido)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Identidad)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Identidad)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Sexo)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Sexo)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Telefono)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Telefono)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_FecNacimiento)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_FecNacimiento)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.Clie_Estado)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.Clie_Estado)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.tbEstado_Civil.Esta_Descripcion)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.tbEstado_Civil.Esta_Descripcion)
            </dd>

            <dt class="p-3">
                @Html.DisplayNameFor(model => model.tbMunicipio.Muni_Descripcion)
            </dt>

            <dd class="p-3">
                @Html.DisplayFor(model => model.tbMunicipio.Muni_Descripcion)
            </dd>

        </dl>
    </div>
</div>
<hr />
    <p style="background-color: #f2f2f2;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Clie_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Usuario</th>
                <th>Fecha</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Creador</th>
                <td> @Html.DisplayFor(model => model.Clie_Usua_Creacion)</td>
                <td>@Html.DisplayFor(model => model.Clie_Fecha_Creacion)</td>

            </tr>
            <tr>
                <th scope="row">Modificar</th>
                <td>@Html.DisplayFor(model => model.Clie_Usua_Modifica)</td>
                <td>@Html.DisplayFor(model => model.Clie_Fecha_Modifica)</td>
            </tr>
        </tbody>
    </table>



