@model IEnumerable<Sistema_Cine.Models.tbClientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-body"></div>

<div class="card">
    <div class="card-header">
        <h3>Cliente</h3>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example " id="tablaOne">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Clie_Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Clie_Identidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Clie_Sexo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Clie_Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Clie_FecNacimiento)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Clie_Usua_Creacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clie_Fecha_Creacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clie_Usua_Modifica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clie_Fecha_Modifica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Clie_Estado)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.tbEstado_Civil.Esta_Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tbMunicipio.Muni_Descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clie_Nombre)
                                @Html.DisplayFor(modelItem => item.Clie_Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clie_Identidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clie_Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clie_Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clie_FecNacimiento)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Clie_Usua_Creacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clie_Fecha_Creacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clie_Usua_Modifica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clie_Fecha_Modifica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clie_Estado)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.tbEstado_Civil.Esta_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbMunicipio.Muni_Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Clie_Id }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Clie_Id }, new { @class = "btn btn-default" }) |
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.Clie_Id }, new { @class = "btn btn-danger" })*@
                                <p class="btn btn-danger" id="elimnartipo" onclick="elimnartipo('@item.Clie_Id')">
                                    Eliminar
                                </p>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="elimnarmodal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
            @Html.Partial("_Delete", new Sistema_Cine.Models.tbClientes())
        </div>
    </div>
</div>


<script>
    $("#btnmodal").click(function () {
        $("#exampleModal").modal('show');
    })
    //$("#bteditar").click(function () {
    //    $("#exampleModal").modal('show');
    //})
    function elimnartipo(id) {
        $("#elimnarmodal").modal('show')
        $("#id").val(id);
    }

</script>