@model Sistema_Cine.Models.tbGeneros

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbGeneros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gene_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gene_Usuario_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Usuario_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gene_Fecha_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gene_Usuario_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Usuario_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gene_Fecha_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Fecha_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPromociones.Prom_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPromociones.Prom_Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
