@model Sistema_Cine.Models.tbGeneros

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbGeneros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gene_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Descripcion)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.tbPromociones.Prom_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPromociones.Prom_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Gene_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table table-dark">
  <thead>
    <tr>
      <th >Acciones</th>
      <th >Usuario</th>
      <th >Fecha</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Creador</th>
      <td>@Html.DisplayFor(model => model.Gene_Usuario_Creacion)</td>
      <td> @Html.DisplayFor(model => model.Gene_Fecha_Creacion)</td>
  
    </tr>
    <tr>
      <th scope="row">Modificar</th>
      <td> @Html.DisplayFor(model => model.Gene_Usuario_Modificacion)</td>
      <td> @Html.DisplayFor(model => model.Gene_Fecha_Modificacion)</td>
    </tr>
  </tbody>
</table>



