@model Sistema_Cine.Models.tbDepartamentos


@using (Html.BeginForm("Create", "tbDepartamentos")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-group" style="background-color:darkred">
   

        <h4>tbDepartamentos</h4>
     
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Depa_Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Depa_Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Depa_Codigo, "", new { @class = "text-danger" })
            </div>
        
            @Html.LabelFor(model => model.Depa_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Depa_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Depa_Descripcion, "", new { @class = "text-danger" })
            </div>
        </div><br>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-20">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
