@model Sistema_Cine.Models.tbCarteleras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card-body" style="background-color: #f2f2f2;">
        <h4>tbCarteleras</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cart_Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cart_Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cart_Fecha_Estreno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cart_Fecha_Estreno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbEntradas.Entra_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbEntradas.Entra_Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbGeneros.Gene_Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbGeneros.Gene_Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbPromociones.Prom_Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbPromociones.Prom_Descripcion)
            </dd>

        </dl>
    </div>
</div>
<hr />
<p style="background-color: #f2f2f2;"> 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cart_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Tabla Detalle</h3>
<br />
<table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Usuario</th>
            <th>Fecha</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Creador</th>
            <td>@Html.DisplayFor(model => model.Cart_Usuario_Creacion)</td>
            <td>@Html.DisplayFor(model => model.Cart_Fecha_Creacion)</td>

        </tr>
        <tr>
            <th scope="row">Modificar</th>
            <td>@Html.DisplayFor(model => model.Cart_Usuario_Modificacion)</td>
            <td>@Html.DisplayFor(model => model.Cart_Fecha_Modificacion)</td>
        </tr>
    </tbody>
</table>



