@model Sistema_Cine.Models.tbFacturas_Encabezados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbFacturas_Encabezados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fact_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_Usua_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Usua_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_Fecha_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_Usua_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Usua_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_Fecha_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Fecha_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fact_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fact_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbClientes.Clie_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbClientes.Clie_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.Empl_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.Empl_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPromociones.Prom_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPromociones.Prom_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipo_Pagos.Tipo_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipo_Pagos.Tipo_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Fact_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table table-striped table-bordered table-hover dataTables-example">
  <thead>
    <tr>
      <th >Acciones</th>
      <th >Usuario</th>
      <th >Fecha</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Creador</th>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <th scope="row">Modificar</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>



