@model Sistema_Cine.Models.tbFacturas_Encabezados

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card" style="max-width: 800px; margin: auto;">
        <div class="card-header bg-light">
            <h2 tyle="text-align:center; margin-bottom: 0;">Factura Encabezado</h2>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">
                    Regresar
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Fact_Id)

            <div class="row">
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.Fact_Fecha, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.Fact_Fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fact_Fecha, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Clie_Id, "Cliente", htmlAttributes: new { @class = "control-label " })

                    @Html.DropDownList("Clie_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Clie_Id, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Empl_Id, "Empleados", htmlAttributes: new { @class = "control-label " })

                    @Html.DropDownList("Empl_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Empl_Id, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Tipo_Id, "TipoDepago", htmlAttributes: new { @class = "control-label " })

                    @Html.DropDownList("Tipo_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tipo_Id, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Prom_Id, "Promociones", htmlAttributes: new { @class = "control-label " })

                    @Html.DropDownList("Prom_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prom_Id, "", new { @class = "text-danger" })

                </div>
            </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-warning" />
                    </div>
                </div>
            
            </div>
            </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
