@model Sistema_Cine.Models.tbUsuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body"></div>
<div class="card-body"></div>

<div class="card">
    <div class="card-header">
        <h2 style="text-align:center">Nueva Usuario</h2>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">
                Regresar
            </button>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Usua_Nombre, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.Usua_Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usua_Nombre, "", new { @class = "text-danger" })

                        @Html.LabelFor(model => model.Usua_Contraseña, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.Usua_Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usua_Contraseña, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Empl_Id, "Empl_Id", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("Empl_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Empl_Id, "", new { @class = "text-danger" })




                        @Html.LabelFor(model => model.Role_Id, "Roles", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("Role_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })
                    </div>
                </div><hr />


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-20">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
               
            </div>
        </div>
        
    }
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
