@model Sistema_Cine.Models.tbUsuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card-body" style="background-color: #f2f2f2;">
    <h4>tbUsuarios</h4>
    <hr />
    <dl class="container">
        <dt>
            @Html.DisplayNameFor(model => model.Usua_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Contraseña)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Usua_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_Administrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Administrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPantalla_Roles.Paro_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPantalla_Roles.Paro_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.Empl_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.Empl_Nombre)
        </dd>

    </dl>
   </div>
</div>
<hr />
<p style="background-color: #f2f2f2;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usua_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Tabla Detalle</h3>
<br />
<table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
  <thead>
    <tr>
      <th >Acciones</th>
      <th >Usuario</th>
      <th >Fecha</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Creador</th>
      <td> @Html.DisplayFor(model => model.Usua_Creacion)</td>
      <td> @Html.DisplayFor(model => model.Usua_Fecha_Creacion)</td>
  
    </tr>
    <tr>
      <th scope="row">Modificar</th>
      <td>@Html.DisplayFor(model => model.Usua_Modifica)</td>
      <td>@Html.DisplayFor(model => model.Usua_Fecha_Modifica)</td>
    </tr>
  </tbody>
</table>



