@model Sistema_Cine.Models.tbPrecios


@using (Html.BeginForm("Create", "tbPrecios"))
{
    @Html.AntiForgeryToken()
   
        <div class="form-group" style="background-color:darkred">


            <h4>tbPrecios</h4>
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Prec_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Prec_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prec_Descripcion, "", new { @class = "text-danger" })
                </div>
            </div><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-20">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
                <div>
                    @Html.ActionLink("Regresar", "Index")
                </div>

            </div>
        </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
