@model Sistema_Cine.Models.tbPrecios


@using (Html.BeginForm("Create", "tbPrecios"))
{
    @Html.AntiForgeryToken()
<div class="card-body">
    <div class="container">


        <h2 style="text-align:center">Crear Precios</h2><br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(model => model.Prec_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Prec_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prec_Descripcion, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <div class="form-group" style="text-align:right">
            <div class="col-md-offset-2 col-md-20">
                <input type="submit" style="text-align:center" value="Crear" class="btn btn-primary" />
            </div>
            
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
