@model Sistema_Cine.Models.tbPantalla_Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <div class="card-body" style="background-color: #f2f2f2;">
        <h4>tbPantalla_Roles</h4>
        <hr />
        <div class="row g-2">
 
            <div class="p-3">
                @Html.DisplayNameFor(model => model.Pant_Estado)
            </div>

            <div class="p-3">
                @Html.DisplayFor(model => model.Pant_Estado)
            </div>

            <div class="p-3">
                @Html.DisplayNameFor(model => model.tbPantallas.Pant_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayFor(model => model.tbPantallas.Pant_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayNameFor(model => model.tbRoles.Role_Descripcion)
            </div>

            <div class="p-3">
                @Html.DisplayFor(model => model.tbRoles.Role_Descripcion)
            </div>

        </div>
    </div>
</div>
<hr />
<p style="background-color: #f2f2f2;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Paro_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Tabla Detalle</h3>
<br />
<table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Usuario</th>
            <th>Fecha</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Creador</th>
            <td>@Html.DisplayFor(model => model.Pant_Creacion)</td>
            <td>@Html.DisplayFor(model => model.Pant_Fecha_Creacion)</td>

        </tr>
        <tr>
            <th scope="row">Modificar</th>
            <td> @Html.DisplayFor(model => model.Pant_Modifica)</td>
            <td>@Html.DisplayFor(model => model.Pant_Fecha_Modifica)</td>
        </tr>
    </tbody>
</table>



