@model Sistema_Cine.Models.tbSucursales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body"></div>

<div class="card">
    <div class="card-header">
        <h2 style="text-align:center">Detalle del Sucursal</h2>
        <div class="d-flex justify-content-end">
            @*<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "Edit", new { id = Model.Sucu_Id })'">
                    Editar
                </button>*@
            @Html.ActionLink("Edit", "Edit", new { id = Model.Sucu_Id }, new { @class = "btn btn-warning" })
            ||
            <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">
                Regresar
            </button>
        </div>

    </div>

    <div class="card-body">
        <div class="container">
            <!-- Apertura del contenedor -->
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Sucu_Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Sucu_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Sucu_Direccion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Sucu_Direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tbCarteleras.Cart_Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbCarteleras.Cart_Descripcion)
                        </dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tbEntradas.Entra_Cantidad)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbEntradas.Entra_Cantidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tbMunicipio.Muni_Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbMunicipio.Muni_Descripcion)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        </div>
    </div>
<hr />
        <table class="table table-striped table-bordered table-hover dataTables-example" id="tablaOne">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Usuario</th>
                    <th>Fecha</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Creador</th>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">Modificar</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>



